@font-face {
  font-family: "Graphik";
  src: url("Graphik-Regular-Web.eot");
  src: url("Graphik-Regular-Web.eot?#iefix") format("embedded-opentype"),
    url("Graphik-Regular-Web.woff2") format("woff2"),
    url("Graphik-Regular-Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("Graphik-Medium-Web.eot");
  src: url("Graphik-Medium-Web.eot?#iefix") format("embedded-opentype"),
    url("Graphik-Medium-Web.woff2") format("woff2"),
    url("Graphik-Medium-Web.woff") format("woff");
  font-weight: 500;
  font-style: bold;
  font-stretch: bold;
  letter-spacing: -0.5px;
}

.Graphik-Regular-Web {
  font-family: "Graphik";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

.Graphik-Medium-Web {
  font-family: "Graphik Web";
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}  

@font-face {
  font-family: 'Sailec';
  src: url('Sailec-Regular.otf') format('opentype');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Sailec';
  src: url('Sailec-Bold.otf') format('opentype');
  font-weight:  600;
  font-style:   bold;
  font-stretch: bold;
  /* letter-spacing: -0.5px; */
}

@font-face {
  font-family: 'Sailec';
  src: url('Sailec-Medium.otf') format('opentype');
  font-weight:  500;
  font-style:   bold;
  font-stretch: bold;
  /* letter-spacing: -0.5px; */
}
