/**img[src*="#thumbnail"] {
  border: 2px solid rgb(63, 60, 60);
  box-shadow: 1px 1px #888888;**/
/* border: 1px solid #42b983; */
/* overflow-y: hidden; */
/* overflow-x: scroll; 
}
*/

:root {
  --base-font-size: 16px;
  --base-background-color: #ffffff;
  --base-font-family: Sailec, Graphik, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --sidebar-toggle-offset-left: 10px;
  --sidebar-background: #ed2f59;
  --sidebar-nav-link-color: #ffffff;
  --search-padding: 0px 20px;
  --sidebar-nav-link-color--active: #ffffff;
  --sidebar-nav-link-color--hover: #ffffff;
  --sidebar-toggle-background: #ffffff;
  --sidebar-toggle-border-color: ;
  --sidebar-toggle-icon-color: #ed2f59; 
  
} 

.markdown-section h1{
  font-weight: bold;
  word-spacing: -2px;
} 

.markdown-section h2{
  font-weight: bold;
  word-spacing: -2px; 
  padding-bottom: 1px;

}

.sidebar > h1 img {
  max-width: 100%;
  width: 160px;
}

.sidebar > h1 {
  margin-right: auto;
  margin-left: -10px;
}

.pic-shawdow {
  border: 1px solid #f1f1f1;
  padding: 1rem;
  background-color: #f1f1f1;
  box-shadow: 4px 1px 4px 1px #ccc;
}

.dev-hold {
  display: flex;
}

.dev {
  display: flex;
}

.hold {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.hold a {
  text-decoration: none;
}

.hold a:hover {
  text-decoration: none;
}

.dev-hold {
  display: flex;
  width: auto !important;
  justify-content: space-between;
  margin-top: 50px;
}

.dev-hold a {
  text-decoration: none;
}

.dev-hold a:hover {
  text-decoration: none;
}

.dev-content {
  width: 300px;
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 10px;
  margin-left: 18px;
}

.con-content {
  width: 350px;
}
.con-header {
  font-weight: 600;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
  margin-top: 10px;
}

.dev-header {
  font-weight: 600;
}

.img-holder {
  width: 50px;
  display: block;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
  margin-top: 10px;
}

.con::before {
  content: " ";
  color: #ed2f59;
  border-top: 3px solid #ed2f59;
  height: 2px;
  width: 3%;
  position: absolute;
  margin: auto;
}
/* 
.top {
  
}  */

.top-content{
  font-size: 1.2rem;
  line-height: 1.75rem;
}

.support {
  margin-top: 50px;
}

.support-header {
  font-weight: 600;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
}

/* .breadcrumb {
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  font-size: 16px;
  line-height: 100px;
  z-index: 1000;
}

.breadcrumb .item {
  display: inline-block;
}

.breadcrumb .item a {
  text-decoration: none;
}

.breadcrumb .item:after {
  content: "›";
  display: inline-block;
  margin: 0 0.75rem;
  color: #ddddde;
}

.breadcrumb .item:last-child:after {
  content: "";
  font-weight: 600;
}
 */
